<br/>
<div class="container">
<h2>
  About
</h2>
<p>
  Halo dBot is a discord bot built for Discord & Halo 5. Originally built as a way to help Ronin Company track commendation completion in their quest for the Achilles Armor, Halo dBot is now currently serving over 55,000 users in over 1130 servers. Use Halo dBot to quickly pull up player stats, check commendation progress, and more!
</p>
<p>
Contact information: Please join our support server
</p>
<p>
Copyright information: This application is offered by Steve Yoes, who is solely responsible for its content. It is not sponsored or endorsed by Microsoft.
This application uses the Halo® Game Data API. Halo © 2018 Microsoft Corporation. All rights reserved. Microsoft, Halo, and the Halo Logo are trademarks of the Microsoft group of companies.
</p>

<br/>
<h2>
  Message from the Creator.
</h2>
<p>
  Halo dBot began as a project for my spartan company, and has grown into a project for the Halo 5 community. I joined Ronin Company early in their push for the Achilles Armor and Helmet. At the time, progress was tracked in a sophisticated spreadsheet which MachTwee would fill in every week and then post to the members with updates. With my background as an Engineer and App Development hobbyist, I wanted to find a way to gather this data more programmatically. A Halo 5 API key, a "Hello World" JavaScript tutorial, a discord server, and many hours of work later, Halo dBot was launched.
</p>

<p>
  Halo dBot was a success within Ronin Company, letting the leaders focus more on playing Halo 5 and less on stat tracking. As the command list grew and functionality increased, I decided to share Halo dBot with the Halo community. In March 2017, I shared it on Reddit and Halo Waypoint (sorry for the spam, RespectedSir!).
</p>

<p>
  Since then, Halo dBot has grown to over 55k users in 1132 servers. I am very pleased with its organic growth and continued improvement. I am extremely honored, and am blessed to have finally given back to the best damn gaming community that has ever existed! I look forward to evolving Halo dBot's functionality and abilities to satisfy your thirst for knowledge, and would love to eventually integrate with the Halo Infinite API. Join my Halo dBot support server: hangout, chat, ask questions, make suggestions. Or, just pop in and say hi. Everyone is welcome.
</p>

<p>
  With love,
  May Hamn
</p>

</div>