.nav-tabs {
    border-bottom: 4px solid #23b69c;
}

.nav-tabs .nav-link.active{
    background-color: #23b69c !important;
    border: 2px solid #23b69c;
    color: white !important;
}

.nav-tabs .nav-link{
    // background-color: #23b69c !important;
    // border: 2px solid #23b69c;
    color: rgba(255,255,255,.7);
}

.nav-tabs .nav-link:hover{
    // background-color: #23b69c !important;
    // border: 2px solid #23b69c;
    color: rgba(255,255,255,.7);
    border: 2px solid #1f9983;
    background: #1f9983 !important;
}