.prime {
    background: #7289da;
    border-radius: 25px 25px 25px 25px;
    margin-left: 20px;
    width: 100px;
    height: 34px;
    text-align: center;
    line-height: 18px;
}

.navbar-toggler-icon {
    color: #23b69c !important;
    border: none !important;
}

.navbar-toggler {
    color: transparent;
    border-color: transparent;
}

.navbar-light .navbar-toggler-icon {
    background-image: none !important;
}