<div class="intro">
    <h1>
      Halo stats in your Discord Server!
    </h1>
    <p class="summary">
        Use Halo dBot to quickly pull up player stats, check commendation progress, and more!
    </p>

    <br>
    <div class="hero-btns">
          <button type="button" class="btn btn-primary btn-lg">
            <p>
              <i class="fab fa-discord"></i>
               Add to Discord
            </p>
          </button>
          <a type="button" class="btn btn-secondary btn-lg" href="#features" style="line-height: 35px;">See features</a>
    </div>
</div>

<div class="section" id="features">
  <div class="row">
    <div class="col-md-5">
      <div class="text">
        <h2>
          Easily Get Arena Stats
        </h2>
        <p class="summary">
            Use Halo dBot to quickly pull up player stats, check commendation progress, and more!
        </p>
      </div>
    </div>
    <div class="col-md-7">
      <img src="assets/images/arena.png" class="img-responsive edges" style="max-width: 600px;margin-left:80px;">
    </div>
  </div>
</div>

<div class="section">
  <div class="row">
    <div class="col-md-7">
      <img src="assets/images/swag.png" class="img-responsive edges-left" style="max-width: 600px;margin-left:80px;">
    </div>
    <div class="col-md-5">
      <div class="text">
        <h2>
          Show Off Your In-Game Persona
        </h2>
        <p class="summary">
          With two simple commands "!spartan" and "!emblem" you can easily show everyone your in game player and emblem.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="row">
    <div class="col-md-5">
      <div class="text">
        <h2>
          Easily Get Arena Stats
        </h2>
        <p class="summary">
            Use Halo dBot to quickly pull up player stats, check commendation progress, and more!
        </p>
      </div>
    </div>
    <div class="col-md-7">
      <img src="assets/images/gamesPlayed.png" class="img-responsive edges" style="max-width: 600px;margin-left:80px;">
    </div>
  </div>
</div>

<div class="section">
  <div class="row">
    <div class="col-md-7">
      <img src="assets/images/ranks.png" class="img-responsive edges-left" style="max-width: 600px;margin-left:80px;">
    </div>
    <div class="col-md-5">
      <div class="text">
        <h2>
          Display Seasonal Ranks
        </h2>
        <p class="summary">
          Show everyone your blood sweat and tears that went into Arena Matchmaking. Displays all of your current seasonal ranks.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="intro" style="padding-top: 0px !important;">
  <div class="hero-btns">
    <button type="button" class="btn btn-primary btn-lg" routerLink="/commands">See Commands</button>
  </div>
</div>