.intro {
    text-align: center;
    padding-top: 200px;
    padding-bottom: 180px;

    h1 {
        font-weight: bold;
    }

    p {
        font-size: 19px;
        // margin-top: 15px;
        margin-bottom: 18px;
        text-align: center;
        line-height: 1.8;
    }
}

.summary {
    font-size: 19px;
    margin-top: 15px;
    margin-bottom: 18px;
    line-height: 1.8;
}

.btn-lg {
    height: 60px;
    font-size: 18px;
    font-weight: 500;
    width: 300px;
    margin-right: 40px;

    // .fa-discord {
    //     font-size: 28px;
    //     font-weight: normal;
    // }
}

.btn-primary {
    background: #7289da;
}

.edges {
    border-radius: 12px;
    // box-shadow: 10px 10px;
    box-shadow: 0px 0px 10px 10px;
}

.edges-left {
    border-radius: 12px;
    box-shadow: 0px 0px 10px 10px;
}

h2 {
    font-weight: 500;
    color: #fff;
    font-size: 26px;
}

.section {
    padding: 80px;
    margin-bottom: 120px;
}

.text {
    margin-top:120px;
    // margin-left: 80px;
}

#mobile {
    display: none;
}

@media (max-width: 767px) {

    #desktop {
        display: none !important;
    }

    #mobile {
        display: inherit;
    }

    .text {
        margin-top:20px !important;
        // margin-left: 80px;
        text-align: center;
    }

    .edges {
        margin: 0 auto !important;
        margin-top:40px !important;
    }

    .section {
        padding: 40px;
        margin-bottom: 40px;
    }

    .intro {
        text-align: center;
        padding-top: 80px;
        padding-bottom: 180px;
    }

    .btn-lg{
        width: 80% !important;
    }
    
}

.navbar-toggler-icon {
    color: #23b69c !important;
}

#mobile .btn-lg {
    margin-right: 0px !important;
    margin-bottom: 20px !important;
}

.arrow {
    margin-top: 30px;
    font-size: 36px !important;
    color: #23b69c !important;
}